<div class="mb-7">
  <div class="flex items-center justify-between">
    <h2 class="font-bold">
      Liste des paiements de charge
    </h2>
    <div>
      <a routerLink="/chargepayments/new"
         class="text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
      >
        Enregister un nouveau paiement
      </a>
    </div>
  </div>
</div>
<hr class="mb-7">



<div *ngIf="createdMessage" class="success-message">
  {{ createdMessage }}
</div>


<ul
  *ngIf="chargePayments else loading"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
>
  <li
    *ngFor="let chargePayment of chargePayments"
    class="p-4 bg-white border rounded shadow-sm space-y-3 listitems"
  >
    <div class="text-gray-800 text-sm">{{ chargePayment.charge_payment_date| date: 'dd/MM/yy' }}</div>
    <div class="text-gray-800 text-sm">{{ chargePayment.amount }} euros</div>
    <div class="text-sm text-gray-600"> {{ chargePayment.description }} </div>
       
  </li>
</ul>

<ng-template #loading>
  <p>Loading payments...</p>
</ng-template>
