<div class="mb-7">
  <div class="flex items-center justify-between">
    <h2 class="font-bold">
      Liste des comptes rendu de réunion d'AG
    </h2>
    <div>
      <a routerLink="//agminutes/new"
         class="text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
      >
       Créer un nouveau compte rendu
      </a>
    </div>
  </div>
</div>
<hr class="mb-7">


<div *ngIf="createdMessage" class="bg-green-100 text-green-800 px-4 py-2 rounded-md mb-4">
  {{ createdMessage }}
</div>

<div *ngIf="deletedMessage" class="bg-green-100 text-green-800 px-4 py-2 rounded-md mb-4">
  {{ deletedMessage }}
</div>

<ul
  *ngIf="agMinutes$ | async as agMinutes; else loading"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
>
  <li
    *ngFor="let agMinute of agMinutes"
    class="bg-white p-4 rounded-lg shadow-sm border border-gray-200 space-y-3"
  >
    <div class="text-sm text-gray-700">Date : {{ agMinute.minutes_date | date: 'short' }}</div>
    <div class="text-sm text-gray-700">Lieu : {{ agMinute.place }}</div>

    <button
      (click)="seeDetails(agMinute.id)"
      class="w-full text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
    >
      Voir les détails
    </button>

    <button
      (click)="editMinute(agMinute.id)"
      class="w-full text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
    >
      Modifier ce PV
    </button>
  </li>
</ul>

<ng-template #loading>
  <p class="text-gray-500 text-center mt-6">Chargement de la liste ...</p>
</ng-template>
