<div class="mb-7">
  <div class="flex items-center justify-between">
    <h2 class="font-bold">
      Formulaire pour appel de charges
    </h2>
    <div>
      <a routerLink="/chargecalls"
      class="text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
      >
        Retour à la liste des appels de charge
      </a>
    </div>
  </div>
</div>
<hr class="mb-7">

<div class="p-4">
  <input
    type="text"
    [(ngModel)]="filterText"
    (input)="filterByPerson()"
    placeholder="Filtrer par nom ou email"
    class="border p-2 rounded w-full mb-4"
  />

  <table class="w-full border-collapse">
    <thead>
      <tr class="border-b">
        <th class="text-left"></th>
        <th class="text-left">Copropriétaire</th>
        <th class="text-left">Email</th>
        <th class="text-left">Montant</th>
        <th class="text-left">Date de l'AG</th>
        <th class="text-left">Résolution</th>
        <th class="text-left">Date appel de charges</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let cl of filteredChargeLines"
        [class.bg-gray-100]="isSelected(cl.id!)"
        class="border-b"
      >
        <td>
          <input
            type="checkbox"
            [checked]="isSelected(cl.id!)"
            (change)="toggleSelection(cl.id!)"
          />
        </td>
        <td>{{ cl.person_first_name }} {{ cl.person_last_name }}</td>
        <td>{{ cl.person_email }}</td>
        <td>{{ cl.amount }} euros</td>
        <td>{{ cl.ag_minutes_date | date: 'shortDate' }}</td>
        <td>{{ cl.ag_resolution_title }}</td>
        <td>{{ cl.call_date | date: 'shortDate' }}</td>
      </tr>
    </tbody>
  </table>

  <div class="mb-4">
    <label class="block mb-1">Date: </label>
    <input type="date" id="date" [value]="today" class="w-full border border-gray-300 rounded-md px-3 py-2" />
  </div>

  <button
  class="min-w-[14rem] text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"

  (click)="createChargeCall()"
    [disabled]="selectedChargeLineIds.size === 0"
  >
    Générer un appel de charges à partir des lignes sélectionnées.
  </button>
</div>
