<h2><strong>Détails d'un document</strong></h2>
<hr>

<div *ngIf="updatedMessage" class="success-message">
  {{ updatedMessage }}
</div>

<ul *ngIf="document$ | async as document; else loading">
  <li class="space-y-4">
    <strong>{{ document.name }}</strong><br>
    <div>Catégorie: {{ document.category_name }}</div>
    <div>Description: {{ document.description }}</div>
    <button (click)="openUrl(document.url)" class="whitespace-nowrap flex-1 text-black hover:text-orange-300 bg-zinc-100 px-3 py-2 rounded-md text-sm font-medium text-center">Télécharger le document</button><br>
    <button (click)="change(document.id)" class="whitespace-nowrap flex-1 text-black hover:text-orange-300 bg-zinc-100 px-3 py-2 rounded-md text-sm font-medium text-center">
      Changer ce document
    </button><br>
    
    <button (click)="deletion(document.id)" class="whitespace-nowrap flex-1 text-black hover:text-orange-300 bg-zinc-100 px-3 py-2 rounded-md text-sm font-medium text-center">
      Supprimer ce document
    </button><br>
  </li>
</ul>

<ng-template #loading>
  <p>Loading document...</p>
</ng-template>
