
<div class="mb-7">
  <div class="flex items-center justify-between">
    <h2 class="font-bold">
      Détails d'un document
    </h2>
    <div>
      <a routerLink="/documents"
      class="text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
      >
        Retour à la liste des documents
      </a>
    </div>
  </div>
</div>
<hr class="mb-7">

<div *ngIf="updatedMessage" class="success-message">
  {{ updatedMessage }}
</div>

<ul *ngIf="document$ | async as document; else loading">
  <li class="space-y-4">
    <strong>{{ document.name }}</strong><br>
    <div>Catégorie: {{ document.category_name }}</div>
    <div>Description: {{ document.description }}</div>
    <button (click)="openUrl(document.url)" 
    class="min-w-[14rem] text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
    >
      Télécharger le document
    </button><br>
    <button (click)="change(document.id)" 
    class="min-w-[14rem] text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
    >
      Changer ce document
    </button><br>
    
    <button (click)="deletion(document.id)" 
    class="min-w-[14rem] text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
    >
      Supprimer ce document
    </button><br>
  </li>
</ul>

<ng-template #loading>
  <p>Loading document...</p>
</ng-template>
