<div class="max-w-xl mx-auto p-4">
  <!--Message de succès -->
  <div *ngIf="successMessage" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-4 flex items-center shadow-sm">
    <svg class="h-5 w-5 mr-2 text-green-600" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-7l3.707-3.707a1 1 0 10-1.414-1.414L9 8.586 7.707 7.293a1 1 0 00-1.414 1.414L9 11z" clip-rule="evenodd" />
    </svg>
    <span>{{ successMessage }}</span>
  </div>

  <!-- Message d’erreur -->
  <div *ngIf="errorMessage" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4 flex items-center shadow-sm">
    <svg class="h-5 w-5 mr-2 text-red-600" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M8.257 3.099c.366-1.151 1.972-1.151 2.338 0l1.011 3.177a1 1 0 00.95.69h3.338c1.21 0 1.706 1.541.732 2.305l-2.694 2.052a1 1 0 00-.364 1.118l1.012 3.177c.366 1.151-.951 2.104-2.015 1.446L10 14.752l-2.565 1.822c-1.064.658-2.38-.295-2.015-1.446l1.012-3.177a1 1 0 00-.364-1.118L3.374 9.271c-.974-.764-.478-2.305.732-2.305h3.338a1 1 0 00.95-.69l1.011-3.177z" clip-rule="evenodd" />
    </svg>
    <span>{{ errorMessage }}</span>
  </div>

  <!-- Formulaire -->
  <form [formGroup]="contactForm" (ngSubmit)="sendMessage()" class="bg-white p-6 rounded-lg shadow-md flex flex-col gap-4">
    <h2 class="text-xl font-semibold text-gray-800 mb-2">Envoyer un message au gestionnaire</h2>

    <label for="subject" class="text-sm text-gray-600">Sujet</label>
    <input 
      type="text"
      name="subject"
      required
      placeholder="Objet de votre message"
      class="border border-gray-300 p-2 rounded focus:outline-none focus:ring focus:ring-blue-500 transition"
      id="subject"
      formControlName="subject"
    />
    <div *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched" class="text-sm text-yellow-600 mt-1">
      <small *ngIf="contactForm.get('subject')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
      <small *ngIf="contactForm.get('subject')?.errors?.['minlength']">* Le champ sujet doit contenir au moins 2 caractères.</small>
      <small *ngIf="contactForm.get('subject')?.errors?.['maxlength']">* Le champ sujet ne peut pas dépasser 50 caractères.</small>
    </div>
    

    <label for="message" class="text-sm text-gray-600">Message</label>
    <textarea
      name="message"
      required
      placeholder="Écrivez votre message ici..."
      rows="6"
      class="border border-gray-300 p-2 rounded resize-none focus:outline-none focus:ring focus:ring-blue-500 transition"
      id="message"
      formControlName="message"
    ></textarea>
    <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-sm text-yellow-600 mt-1">
      <small *ngIf="contactForm.get('message')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
      <small *ngIf="contactForm.get('message')?.errors?.['minlength']">* Le message doit contenir au moins 10 caractères.</small>
      <small *ngIf="contactForm.get('message')?.errors?.['maxlength']">* Le message ne peut pas dépasser 1000 caractères.</small>
    </div>
    <button
      [disabled]="isSending"
      [disabled]="contactForm.invalid"
      type="submit"
      [ngClass]="{
        'bg-zinc-200 text-zinc-600 cursor-not-allowed': contactForm.invalid, 
        'text-black hover:text-orange-300 bg-zinc-100': !contactForm.invalid 
      }"
      class="ml-4 whitespace-nowrap flex-1 px-4 py-2 rounded-md text-sm font-medium transition-colors duration-200"
    >
      <ng-container *ngIf="!isSending; else loading">Envoyer</ng-container>

    </button>

  <ng-template #loading>
    <span class="spinner"></span> 
  </ng-template>
  
  
  </form>
</div>
