<h2><strong>Liste des copropriétaires</strong></h2>
<hr>

<div *ngIf="createdMessage" class="success-message mb-4">
  {{ createdMessage }}
</div>

<ul *ngIf="persons$ | async as persons; else loading" class="space-y-4">
  <li *ngFor="let person of persons" class="space-y-2">
    <strong>{{ person.first_name && person.last_name ? person.first_name + ' ' + person.last_name : person.email }}</strong><br>
    <button 
      (click)="seeDetails(person.id)" 
      class="whitespace-nowrap flex-1 text-black hover:text-orange-300 bg-zinc-100 px-3 py-2 rounded-md text-sm font-medium text-center"
    >
      Voir les détails
    </button>
    <hr>
  </li>
</ul>

<div class="m-4">
  <a routerLink="/persons/new"
    class="whitespace-nowrap flex-1 text-black hover:text-orange-300 bg-zinc-100 px-3 py-2 rounded-md text-sm font-medium text-center"
  >
    Enregistrer un nouveau copropriétaire
  </a>
</div>

<ng-template #loading>
  <p>Loading persons...</p>
</ng-template>
