<div class="mb-7">
  <div class="flex items-center justify-between">
    <h2 class="font-bold">
      Liste des copropriétaires
    </h2>
    <div>
      <a routerLink="/persons/new"
         class="text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
      >
        Enregistrer un nouveau copropriétaire
      </a>
    </div>
  </div>
</div>
<hr class="mb-7">


<div *ngIf="createdMessage" class="success-message mb-4">
  {{ createdMessage }}
</div>

<ul
  *ngIf="persons$ | async as persons; else loading"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
>
  <li
    *ngFor="let person of persons"
    class="p-4 bg-white border rounded shadow-sm space-y-3"
  >
    <strong class="text-gray-800 text-sm">
      {{ person.first_name && person.last_name ? person.first_name + ' ' + person.last_name : person.email }}
    </strong>

    <button
      (click)="seeDetails(person.id)"
      class="w-full text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
    >
      Voir les détails
    </button>

    <button
      (click)="editPerson(person.id)"
      class="w-full text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
    >
      Changer ce copropriétaire
    </button>
  </li>
</ul>


<ng-template #loading>
  <p>Loading persons...</p>
</ng-template>
