<div class="mb-7">
  <div class="flex items-center justify-between">
    <h2 class="font-bold">
      Formulaire pour une catégorie de document
    </h2>
    <div>
      <a routerLink="/documentcategories"
      class="text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
      >
        Retour à la liste des catégories
      </a>
    </div>
  </div>
</div>
<hr class="mb-7">

<form [formGroup]="documentForm" (ngSubmit)="onSubmit()" class="space-y-4">
  <div>
    <label class="block mb-1">Nom: </label>
    <input formControlName="name" placeholder="Nom de la catégorie" class="w-full border border-gray-300 rounded-md px-3 py-2" />
    <div *ngIf="documentForm.get('name')?.invalid && documentForm.get('name')?.touched" class="text-sm text-yellow-600	 mt-1">
      <small *ngIf="documentForm.get('name')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
      <small *ngIf="documentForm.get('name')?.errors?.['minlength']">* Ce champ doit contenir au moins 2 caractères.</small>
      <small *ngIf="documentForm.get('name')?.errors?.['maxlength']">* Ce champ ne peut contenir plus que 50 caractères.</small>
    </div>
  </div>
  <button type="submit" [disabled]="documentForm.invalid" 
  class="min-w-[14rem] text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
  >
    {{ isEditMode ? 'Mettre à jour' : 'Créer' }} la catégorie
  </button>
</form>
