<h2 class="text-xl font-bold mb-2">
  Détails d'une convocation
</h2>
<hr class="mb-4 border-gray-300" />

<div *ngIf="updatedMessage" class="text-green-600 font-medium mb-4">
  {{ updatedMessage }}
</div>

<div *ngIf="agNotice$ | async as agNotice; else loading">
  <div class="space-y-6 bg-white p-4 rounded-lg shadow-md">
    
    <div class="space-y-1">
      <h3 class="text-lg font-semibold text-gray-800">{{ agNotice.title }}</h3>
      <p class="text-sm text-gray-600">Date : {{ agNotice.ag_date | date:'short' }}</p>
      <p class="text-sm text-gray-600">Lieu : {{ agNotice.place }}</p>
    </div>

    <div>
      <h4 class="text-md font-semibold text-gray-800 mb-2">Résolutions associées</h4>
      <ul *ngIf="agResolutions$ | async as agResolutions">
        <ng-container *ngIf="agResolutions.length > 0; else noResolutions">
          <li 
            *ngFor="let agResolution of agResolutions"
            class="border border-gray-200 rounded-md p-3 mb-3 shadow-sm bg-gray-50"
          >
            <p class="font-medium text-gray-800">{{ agResolution.title }}</p>
            <p class="text-sm text-gray-600 mt-1">Texte : {{ agResolution.resolution_text }}</p>
            <p class="text-sm text-gray-600">Majorité requise : {{ agResolution.required_majority | requiredMajorityLabel }}</p>
            <p class="text-sm text-gray-600">Budget : {{ agResolution.budget === 1 ? 'Oui' : 'Non' }}</p>
            <p *ngIf="agResolution.budget === 1" class="text-sm text-gray-600">Montant : {{ agResolution.budget_amount }} euros</p>
            <p *ngIf="agResolution?.status !== 'NULL'" class="text-sm text-gray-600">Statut : {{ agResolution.status! | statusLabel }}</p>
            
          </li>
        </ng-container>
      </ul>

      <ng-template #noResolutions>
        <p class="text-sm text-gray-500 italic">Aucune résolution associée.</p>
      </ng-template>
    </div>

    <button 
      (click)="change(agNotice.id)" 
      class="whitespace-nowrap flex-1 bg-zinc-100 px-4 py-2 rounded-md text-sm font-medium text-black hover:text-orange-300 transition-colors duration-200">
      Modifier la convocation
    </button>

    <button 
      (click)="generateWord(agNotice.id)" 
      class="ml-4 whitespace-nowrap flex-1 bg-zinc-100 px-4 py-2 rounded-md text-sm font-medium text-black hover:text-orange-300 transition-colors duration-200">
      Générer la convocation
    </button>

  </div>
</div>

<ng-template #loading>
  <p class="text-gray-500 italic">Chargement de la convocation…</p>
</ng-template>
