<h2 class="text-xl font-bold mb-2">
  <strong>Formulaire pour resolutions</strong>
</h2>
<hr class="mb-4" />

<form *ngIf="formReady" [formGroup]="agResolutionForm" (ngSubmit)="onSubmit()" class="space-y-6">
  <div>
    <label class="block font-medium mb-1">Titre: </label>
    <input formControlName="title" placeholder="Choix d'un nouveau syndic"
      class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-orange-300" />
      <div *ngIf="agResolutionForm.get('title')?.invalid && (agResolutionForm.get('title')?.touched || formSubmitted)" class="text-sm text-red-600 mt-1">
        <small *ngIf="agResolutionForm.get('title')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
      <small *ngIf="agResolutionForm.get('title')?.errors?.['minlength']">* Minimum 2 caractères.</small>
      <small *ngIf="agResolutionForm.get('title')?.errors?.['maxlength']">* Maximum 50 caractères.</small>
    </div>
  </div>

  <div>
    <label class="block font-medium mb-1">Texte de la résolution: </label>
    <textarea 
      formControlName="resolution_text" 
      placeholder="Après présentation du diagnostic technique de l’immeuble par le cabinet d’architecture DUPRÉ, il est proposé aux copropriétaires ..." 
      style="width: 100%; min-height: 200px; overflow:hidden;"
      #description
      (input)="description.style.height = 'auto'; description.style.height = description.scrollHeight + 'px';"
      class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-orange-300"
    ></textarea>
    <div *ngIf="agResolutionForm.get('resolution_text')?.invalid && (agResolutionForm.get('resolution_text')?.touched || formSubmitted)" class="text-sm text-red-600 mt-1">
      <small *ngIf="agResolutionForm.get('resolution_text')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
      <small *ngIf="agResolutionForm.get('resolution_text')?.errors?.['minlength']">* Minimum 2 caractères.</small>
    </div>
  </div>

  <div>
    <label class="block font-medium mb-1">Majorité requise: </label>
    <select id="required_majority" formControlName="required_majority" required class="w-full px-3 py-2 border rounded-md">
      <option value="" disabled>Choisissez une majorité</option>
      <option value="24">Article 24</option>
      <option value="25">Article 25</option>
      <option value="25-1">Article 25-1</option>
      <option value="26">Article 26</option>
      <option value="unanimity">Unanimité</option>
      <option value="no_vote">Résolution sans vote</option>
    </select>  
    <div *ngIf="agResolutionForm.get('required_majority')?.invalid && (agResolutionForm.get('required_majority')?.touched || formSubmitted)" class="text-sm text-red-600 mt-1">
      <small *ngIf="agResolutionForm.get('required_majority')?.errors?.['required']">* champ obligatoire</small>  
    </div>
  </div>

  <div class="mb-4">
    <label for="unitGroups" class="block mb-1">Groupe de lots concernés</label>
    <select id="unitGroups" formControlName="id_unit_group"  class="w-full border border-gray-300 rounded-md px-3 py-2">
      <option value="" disabled>Choisissez le groupe qui est concerné par cette décision</option>
      <option *ngFor="let unitGroup of unitGroups" [value]="unitGroup.id">
        {{ unitGroup.name }}
      </option>
    </select>
    <div *ngIf="agResolutionForm.get('id_unit_group')?.invalid && (agResolutionForm.get('id_unit_group')?.touched || formSubmitted)" class="text-sm text-red-600 mt-1">
      <small *ngIf="agResolutionForm.get('id_unit_group')?.errors?.['required']">* champ obligatoire</small>  
    </div>
   </div>

  <div>
    <label class="block font-medium mb-1">Budget: </label>
    <select id="budget" 
      formControlName="budget" 
      required 
      class="w-full px-3 py-2 border rounded-md"
      [attr.disabled]="budgetReadOnly ? true : null"
      >    
      <option value="" disabled>Cette résolution est-elle liée à un budget? </option>
      <option value="0">Non</option>
      <option value="1">Oui</option>
    </select>
    <div *ngIf="agResolutionForm.get('budget')?.invalid && (agResolutionForm.get('budget')?.touched || formSubmitted)" class="text-sm text-red-600 mt-1">    
      <small *ngIf="agResolutionForm.get('budget')?.errors?.['required']">* champ obligatoire</small>  
    </div>
    <div *ngIf="agResolutionForm.get('budget')?.disabled" class="info-message m-2">
      Un budget ne peut être lié à une résolution sans vote.
    </div>
  </div>


  <div *ngIf="agResolutionForm.get('budget')!.value == '1'" class="border border-gray-300 rounded-md p-4 mt-4">
    <h3 class="text-lg font-semibold mb-4">Informations sur le budget</h3>
  
    <div class="mb-4">
      <label class="block font-medium mb-1">Montant du budget (euros)</label>
      <input
        type="number"
        formControlName="budget_amount"
        class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-orange-300"
      />
      <div *ngIf="agResolutionForm.get('budget_amount')?.invalid && (agResolutionForm.get('budget_amount')?.touched || formSubmitted)" class="text-sm text-red-600 mt-1">
        <small *ngIf="agResolutionForm.get('budget_amount')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
      </div>
    </div>
  

    <div class="mb-4">
      <label class="block font-medium mb-1">Type de budget</label>
      <select id="budget_type" formControlName="budget_type"  class="w-full px-3 py-2 border rounded-md">
        <option value="" disabled>Choisissez le type de budget</option>
        <option value="operating">Budget opérationnel</option>
        <option value="exceptional">Budget exceptionelle</option>
      </select>   
      <div *ngIf="agResolutionForm.get('budget_type')?.invalid && (agResolutionForm.get('budget_type')?.touched || formSubmitted)" class="text-sm text-red-600 mt-1"> 
        <small *ngIf="agResolutionForm.get('budget_type')?.errors?.['required']">* champ obligatoire</small>
      </div>
    </div>

    <div class="mb-4" *ngIf="agResolutionForm.get('budget_type')?.value === 'operating'">
      <label class="block font-medium mb-1">Date début budget opérationnel</label>
      <input
        type="date"
        formControlName="operating_budget_start"
        class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-orange-300"
      />
      <div *ngIf="agResolutionForm.get('operating_budget_start')?.invalid && (agResolutionForm.get('operating_budget_start')?.touched || formSubmitted)" class="text-sm text-red-600 mt-1">
        <small *ngIf="agResolutionForm.get('operating_budget_start')?.errors?.['required']">* champ obligatoire</small>
      </div>
      </div>
  
    <div class="mb-4" *ngIf="agResolutionForm.get('budget_type')?.value === 'operating'">
      <label class="block font-medium mb-1">Date fin budget opérationnel</label>
      <input
        type="date"
        formControlName="operating_budget_end"
        class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-orange-300"
      />
      <div *ngIf="agResolutionForm.get('operating_budget_end')?.invalid && (agResolutionForm.get('operating_budget_end')?.touched || formSubmitted)" class="text-sm text-red-600 mt-1">
        <small *ngIf="agResolutionForm.get('operating_budget_end')?.errors?.['required']">* champ obligatoire</small>
      </div>
    </div>
  

    <div class="mb-4">
      <label class="block font-medium mb-2">Appel de fonds</label>
      <div class="mb-4 ml-4">
        <select formControlName="nb_of_instalments" class="w-full px-3 py-2 border rounded-md">
          <option value="" disabled>Choisissez une option</option>
          <option [value]="0">
            Pas d'appel de fond de suite - en attente de réception de la facture avant tout appel de fonds
          </option>
          <option [value]="1">Planifier un ou plusieurs échéances en fixant les dates</option>
        </select>
        <div *ngIf="agResolutionForm.get('nb_of_instalments')?.invalid && (agResolutionForm.get('nb_of_instalments')?.touched || formSubmitted)" class="text-sm text-red-600 mt-1">
          <small *ngIf="agResolutionForm.get('nb_of_instalments')?.errors?.['required']">* champ obligatoire</small>
        </div>
      </div>

      <div class="mb-4 ml-8" *ngIf="agResolutionForm.get('nb_of_instalments')?.value > 0">
        <ul *ngIf="callDates$ | async as callDates;">
          <li *ngFor="let callDate of callDates; let i = index">
            <div class="text-sm text-gray-700 mb-2 flex items-center gap-4">
              <span class="font-medium text-gray-800">Échéance {{ i + 1 }} :</span>
              <span>{{ callDate.date_call | date: 'dd/MM/yyyy' }}</span>
              <button 
                type="button"
                (click)="deleteDate(callDate.id!)" 
                class="text-gray-500 hover:text-orange-300 bg-zinc-100 rounded-md text-sm font-light px-2 py-1 transition-colors duration-200">
                Retirer cette échéance
              </button>
            </div>
          </li>
        </ul>
        <div>
        <label for="newDate" class="block text-sm font-medium text-gray-700 mb-1">Nouvelle échéance</label>
        <input id="newDate" type="date" #newDateInput name="date" class="px-3 py-2 border rounded-md mb-2" />
        <button type="button"
          (click)="addDate(newDateInput.value!)"
          class="bg-zinc-100 text-gray-700 hover:text-orange-300 px-3 py-1 rounded-md text-sm font-medium ml-2">
          Ajouter une échéance
        </button>
        </div>
      </div>
    </div>


    <div class="mb-4 flex items-center space-x-2">
      <input type="checkbox" formControlName="budget_recup_tenant" id="budget_recup_tenant" class="h-4 w-4" />
      <label for="budget_recup_tenant" class="font-medium">  Charge récupérable auprès du locataire</label>
    </div>
  

    <div class="mb-4">
      <label for="budgetCategory" class="block font-medium mb-2">Catégorie</label>
      <select id="budgetCategory" formControlName="id_budget_category"  class="w-full border border-gray-300 rounded-md px-3 py-2">
        <option value="" disabled>Choisissez une catégorie</option>
        <option *ngFor="let cat of budgetCategory" [value]="cat.id">
          {{ cat.name }}
        </option>
      </select>
      <div *ngIf="agResolutionForm.get('budgetCategory')?.invalid && (agResolutionForm.get('budgetCategory')?.touched || formSubmitted)" class="text-sm text-red-600 mt-1">
        <small *ngIf="agResolutionForm.get('budgetCategory')?.errors?.['required']">* champ obligatoire</small>
      </div>
      </div>
  </div>

  
  <button
    type="button"
    (click)="submitForm()"
    class="whitespace-nowrap flex-1 text-black hover:text-orange-300 bg-zinc-100 px-3 py-2 rounded-md text-sm font-medium text-center m-4">
    {{ isEditMode ? 'Mettre à jour' : 'Créer' }} la résolution
  </button>
  <br>
  <div *ngIf="noDateError" class="text-red-500 text-sm mt-2">
    Vous devez ajouter au moins une échéance si un appel de fonds est prévu.
  </div>
</form>
