<h2><strong>Formulaire pour resolutions</strong></h2>
<hr />

<form [formGroup]="agResolutionForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Titre: </label>
    <input formControlName="title" placeholder="Choix d'un nouveau syndic" />
    <div *ngIf="agResolutionForm.get('title')?.invalid && agResolutionForm.get('title')?.touched">
      <small *ngIf="agResolutionForm.get('title')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
      <small *ngIf="agResolutionForm.get('title')?.errors?.['minlength']">* Minimum 2 caractères.</small>
      <small *ngIf="agResolutionForm.get('title')?.errors?.['maxlength']">* Maximum 50 caractères.</small>
    </div>
  </div>


  <div>
    <label>Texte de la résolution: </label>
    <textarea 
      formControlName="resolution_text" 
      placeholder="Après présentation du diagnostic technique de l’immeuble par le cabinet d’architecture DUPRÉ, il est proposé aux copropriétaires ..." 
      style="width: 100%; min-height: 20px; overflow:hidden;"
      #description
      (input)="description.style.height = 'auto'; description.style.height = description.scrollHeight + 'px';"
    ></textarea>
    <div *ngIf="agResolutionForm.get('resolution_text')?.invalid && agResolutionForm.get('resolution_text')?.touched">
      <small *ngIf="agResolutionForm.get('resolution_text')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
      <small *ngIf="agResolutionForm.get('resolution_text')?.errors?.['minlength']">* Minimum 2 caractères.</small>
      <small *ngIf="agResolutionForm.get('resolution_text')?.errors?.['maxlength']">* Maximum 255 caractères.</small>
    </div>
  </div>

  

  
  <button
    type="submit"
    [disabled]="agResolutionForm.invalid"
    class="whitespace-nowrap flex-1 text-black hover:text-indigo-600 bg-zinc-100 px-3 py-2 rounded-md text-sm font-medium text-center m-4">
    {{ isEditMode ? 'Mettre à jour' : 'Créer' }} la résolution
  </button>
  <br>
</form>
