<div class="mb-7">
  <div class="flex items-center justify-between">
    <h2 class="font-bold">
      Liste des convocations
    </h2>
    <div>
      <a routerLink="/agnotices/new"
         class="text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
      >
        Créer une nouvelle convocation
      </a>
    </div>
  </div>
</div>
<hr class="mb-7">

<div *ngIf="createdMessage" class="bg-green-100 text-green-800 px-4 py-2 rounded-md mb-4">
  {{ createdMessage }}
</div>

<div *ngIf="deletedMessage" class="bg-green-100 text-green-800 px-4 py-2 rounded-md mb-4">
  {{ deletedMessage }}
</div>

<ul
  *ngIf="agnotices$ | async as agnotices; else loading"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
>
  <li
    *ngFor="let agnotice of agnotices"
    class="bg-white p-4 rounded-lg shadow-sm border border-gray-200 space-y-3"
  >
    <h3 class="text-base font-medium text-gray-800">{{ agnotice.title }}</h3>
    <div class="text-sm text-gray-600">Date : {{ agnotice.ag_date | date: 'short' }}</div>
    <div class="text-sm text-gray-600">Lieu : {{ agnotice.place }}</div>

    <button
      (click)="seeDetails(agnotice.id)"
      class="w-full text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
    >
      Voir les détails
    </button>

    <button
      (click)="editNotice(agnotice.id)"
      class="w-full text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
    >
      Modifier cette convocation
    </button>
  </li>
</ul>

<ng-template #loading>
  <p class="text-gray-500 text-center mt-6">Chargement des documents...</p>
</ng-template>
