<h2><strong>Formulaire pour la gestion des copropriétaires</strong></h2>
<hr>

<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <div class="mb-4">
    <label class="block mb-1">Email:</label>
    <input formControlName="email" placeholder="Email" class="w-full px-3 py-2 border rounded-md" />
    <div *ngIf="personForm.get('email')?.invalid && personForm.get('email')?.touched" class="text-yellow-600	 text-sm mt-1">
      <small *ngIf="personForm.get('email')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
      <small *ngIf="personForm.get('email')?.errors?.['pattern']">* Ce champ doit correspondre à un mail valide.</small>
    </div>
  </div>

  <div *ngIf="isEditMode" class="mb-4">
    <label class="block mb-1">Prénom:</label>
    <input type="text" formControlName="first_name" placeholder="Jean" class="w-full px-3 py-2 border rounded-md" />
    <div *ngIf="personForm.get('first_name')?.invalid && personForm.get('first_name')?.touched" class="text-yellow-600	 text-sm mt-1">
      <small *ngIf="personForm.get('first_name')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
    </div>
  </div>

  <div *ngIf="isEditMode" class="mb-4">
    <label class="block mb-1">Nom de famille:</label>
    <input type="text" formControlName="last_name" placeholder="Dupont" class="w-full px-3 py-2 border rounded-md" />
    <div *ngIf="personForm.get('last_name')?.invalid && personForm.get('last_name')?.touched" class="text-yellow-600	 text-sm mt-1">
      <small *ngIf="personForm.get('last_name')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
    </div>
  </div>

  <div *ngIf="isEditMode" class="mb-4">
    <label class="block mb-1">Téléphone:</label>
    <input type="tel" formControlName="telephone" placeholder="0612345678" class="w-full px-3 py-2 border rounded-md" />
    <div *ngIf="personForm.get('telephone')?.invalid && personForm.get('telephone')?.touched" class="text-yellow-600	 text-sm mt-1">
      <small *ngIf="personForm.get('telephone')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
    </div>
  </div>

  <div *ngIf="isEditMode" class="mb-4">
    <label class="block mb-1">N° + rue:</label>
    <input type="text" formControlName="street" placeholder="6 rue Jules Vernes" class="w-full px-3 py-2 border rounded-md" />
    <div *ngIf="personForm.get('street')?.invalid && personForm.get('street')?.touched" class="text-yellow-600	 text-sm mt-1">
      <small *ngIf="personForm.get('street')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
    </div>
  </div>

  <div *ngIf="isEditMode" class="mb-4">
    <label class="block mb-1">Code postale:</label>
    <input type="text" formControlName="postal_code" placeholder="33000" class="w-full px-3 py-2 border rounded-md" />
    <div *ngIf="personForm.get('postal_code')?.invalid && personForm.get('postal_code')?.touched" class="text-yellow-600	 text-sm mt-1">
      <small *ngIf="personForm.get('postal_code')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
    </div>
  </div>

  <div *ngIf="isEditMode" class="mb-4">
    <label class="block mb-1">Ville:</label>
    <input type="text" formControlName="city" placeholder="Bordeaux" class="w-full px-3 py-2 border rounded-md" />
    <div *ngIf="personForm.get('city')?.invalid && personForm.get('city')?.touched" class="text-yellow-600	 text-sm mt-1">
      <small *ngIf="personForm.get('city')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
    </div>
  </div>

  <div class="mb-4">
    <label for="role" class="block mb-1">Role</label>
    <select id="role" formControlName="id_role" required class="w-full px-3 py-2 border rounded-md">
      <option value="" disabled>Choisissez un role</option>
      <option *ngFor="let role of roles" [value]="role.id">
        {{ role.name }}
      </option>
    </select>    
  </div>
  
  <button type="submit" [disabled]="personForm.invalid" class="whitespace-nowrap flex-1 text-black hover:text-orange-300 bg-zinc-100 px-3 py-2 rounded-md text-sm font-medium text-center m-4">
    {{ isEditMode ? 'Mettre à jour' : 'Créer' }} le copropriétaire
  </button>
</form>
