@tailwind base;
@tailwind components;
@tailwind utilities;

.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 0.98%;
  border: 0.10vw solid #c3e6cb;
  border-radius: 0.49%;
  margin-bottom: 0.98%;
  font-size: 0.97vw;
}

.error-message {
  background-color: #edd4e0;
  color: #571524;
  padding: 0.98%;
  border: 0.10vw solid #c3e6cb;
  border-radius: 0.49%;
  margin-bottom: 0.98%;
  font-size: 0.97vw;

}

.frame {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #FFFFFF;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.frame .div-2 {
  position: absolute;
  width: 100.07%;
  height: 31.45%;
  top: 0;
  left: 0;
}

.frame .overlap {
  position: relative;
  width: 1440px;
  height: 322px;
  background-image: url(./assets/images/backgroundImage.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.frame .group {
  position: absolute;
  width: 13.68%;
  height: 5.47%;
  top: 21.00%;
  left: 83.96%;
  background-color: #E3DCD2;
}

.frame .div-wrapper {
  width: 3.54%;
  height: 4.20%;
  position: relative;
  top: 0.68%;
  left: 5.07%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.69%;
  padding: 0.69%;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-left: -0.34%;
  margin-right: -0.34%;
  font-family: "Oswald-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 0.83vw;
  letter-spacing: 0;
  line-height: normal;
}

.frame .frame-wrapper {
  position: absolute;
  width: 13.68%;
  height: 5.47%;
  top: 21.0%;
  left: 3.68%;
  background-color: #E3DCD2;
}

.frame .div-wrapper-2 {
  width: 3.54%;
  position: relative;
  top: 0.68%;
  left: 5.07%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.69%;
  padding: 0.98%;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -0.10%;
  margin-left: -0.23%;
  margin-right: -0.23%;
  font-family: "Oswald-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 0.83vw;
  letter-spacing: 0;
  line-height: normal;
}

.frame .group-2 {
  position: absolute;
  width: 13.68%;
  height: 5.47%;
  top: 21.0%;
  left: 43.82%;
  background-color: #E3DCD2;
}

.frame .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -0.10%;
  margin-left: -1.69%;
  margin-right: -1.69%;
  font-family: "Oswald-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 1.11vw;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap-group-wrapper {
  position: absolute;
  width: 13.82%;
  height: 5.47%;
  top: 21.0%;
  left: 63.89%;
}
.frame .overlap-group {
  position: relative;
  width: 13.68%;
  height: 5.47%;
  background-color: #E3DCD2;
}

.frame .text-wrapper-4 {
  position: absolute;
  width: 7.63%;
  top: 1.76%;
  left: 3.06%;
  font-family: "Oswald-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 0.83vw;
  letter-spacing: 0;
  line-height: normal;
}

.frame .group-3 {
  position: absolute;
  width: 13.68%;
  height: 5.47%;
  top: 21.0%;
  left: 23.75%;
  background-color: #E3DCD2;
}

.frame .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -0.10%;
  margin-left: -0.41%;
  margin-right: -0.41%;
  font-family: "Oswald-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 0.83vw;
  letter-spacing: 0;
  line-height: normal;
}
.frame .logo-coprogest {
  position: absolute;
  width: 5.83%;
  height: 8.20%;
  top: 2.83%;
  left: 3.68%;
  object-fit: cover;
}

.frame .img {
  position: absolute;
  width: 17.99%;
  height: 5.47%;
  top: 4.20%;
  left: 76.94%;
}

.frame .chevron-down {
  position: absolute;
  width: 3.82%;
  height: 5.27%;
  top: 4.39%;
  left: 91.11%;
}
.frame .overlap-2 {
  position: absolute;
  width: 93.96%;
  height: 44.73%;
  top: 36.04%;
  left: 2.78%;
  background-color: #D9D9D9;
}

.frame .div-wrapper-3 {
  width: 13.89%;
  height: 5.86%;
  position: absolute;
  top: 19.43%;
  left: 30.14%;
  background-color: #CC8B65;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.69%;
  padding: 0.98%;
}

.frame .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: "Oswald-Regular", Helvetica;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-wrapper-4 {
  width: 13.89%;
  height: 5.86%;
  position: absolute;
  top: 19.43%;
  left: 50.21%;
  background-color: #CC8B65;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.69%;
  padding: 0.98%;
}

.frame .div-wrapper-5 {
  width: 13.89%;
  height: 5.86%;
  position: absolute;
  top: 19.43%;
  left: 70.07%;
  background-color: #CC8B65;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.69%;
  padding: 0.98%;
}

.frame .overlap-wrapper {
  position: absolute;
  width: 14.03%;
  height: 5.86%;
  top: 19.43%;
  left: 10.07%;
}

.frame .overlap-3 {
  position: relative;
  width: 13.89%;
  height: 5.86%;
  background-color: #CC8B65;
}

.frame .text-wrapper-7 {
  position: absolute;
  top: 1.46%;
  left: 1.88%;
  font-family: "Oswald-Regular", Helvetica;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
}

.background-image {
  background-image: url('/assets/images/backgroundImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 19.53%;
}
