<div class="mb-7">
  <div class="flex items-center justify-between">
    <h2 class="font-bold">
      Liste de catégories de document
    </h2>
    <div>
      <a routerLink="/documentcategories/new"
         class="text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
      >
        Créer une nouvelle catégorie
      </a>
    </div>
  </div>
</div>
<hr class="mb-7">


<div *ngIf="createdMessage" class="success-message">
  {{ createdMessage }}
</div>

<div *ngIf="deletedMessage" class="success-message">
  {{ deletedMessage }}
</div>

<ul
  *ngIf="documentCategories$ | async as documentCategories; else loading"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
>
  <li
    *ngFor="let documentCategory of documentCategories"
    class="p-4 bg-white shadow rounded space-y-2 border"
  >
    <strong class="block">{{ documentCategory.name }}</strong>

    <button
      (click)="change(documentCategory.id)"
      class="w-full text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
    >
      Changer cette catégorie
    </button>

    <button
      (click)="deletion(documentCategory.id)"
      class="w-full text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
    >
      Supprimer cette catégorie
    </button>
  </li>
</ul>

<ng-template #loading>
  <p>Loading categories...</p>
</ng-template>
