<h2><strong>Formulaire pour lot</strong></h2>
<hr>

<form [formGroup]="unitForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Nom: </label>
    <input formControlName="name" placeholder="Nom du lot" />
    <div *ngIf="unitForm.get('name')?.invalid && unitForm.get('name')?.touched">
      <small *ngIf="unitForm.get('name')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
      <small *ngIf="unitForm.get('name')?.errors?.['minlength']">* Ce champ doit contenir au moins 2 caractères.</small>
      <small *ngIf="unitForm.get('name')?.errors?.['maxlength']">* Ce champ ne peut contenir plus que 50 caractères.</small>
    </div>
  </div>

  <div>
    <label>Description: </label>
    <textarea 
      formControlName="description" 
      placeholder="Donnez ici un peu plus de détails sur le contenu du document (champ non obligatoire)." 
      style="width: 100%; min-height: 20px; overflow:hidden;"
      #description
      (input)="description.style.height = 'auto'; description.style.height = description.scrollHeight + 'px';"
    ></textarea>
  </div>

  <div>
    <label>Tantièmes: </label>
    <input formControlName="shares" placeholder="120.5" type="number" step="0.01" />
    <div *ngIf="unitForm.get('shares')?.invalid && unitForm.get('shares')?.touched">
      <small *ngIf="unitForm.get('shares')?.errors?.['required']">* Ce champ ne peut pas être vide.</small>
      <small *ngIf="unitForm.get('shares')?.errors?.['pattern']">* Ce champ doit contenir une valeur numérique.</small>
    </div>
  </div>

  <div>
    <label for="person">Propriétaire</label>
    <select id="person" formControlName="id_person" required>
      <option value="" disabled>Choisissez le propriétaire</option>
      <option *ngFor="let person of persons" [value]="person.id">
        {{ person.first_name && person.last_name ? person.first_name + ' ' + person.last_name : person.email }}
      </option>
    </select>
    <div *ngIf="unitForm.get('id_person')?.invalid && unitForm.get('id_person')?.touched">
      <small *ngIf="unitForm.get('id_person')?.errors?.['required']">* Veuillez choisir un propriétaire.</small>
    </div>
  </div>

  <div>mis a jour des groupes > voir groupes</div>
<!--
 
  <div>
    <div>Groupes: </div>
    <ul>
      <li *ngFor="let unitGroup of unitGroups">
        <label>
          <input 
            type="checkbox" 
            [value]="unitGroup.id"
            [checked]="selectedUnitGroupIds.includes(unitGroup.id)"
            class="groups"
          />
          {{ unitGroup.name }}
        </label>
      </li>
    </ul>
  </div>
-->


  <button type="submit" [disabled]="unitForm.invalid" class="whitespace-nowrap flex-1 text-black hover:text-indigo-600 bg-zinc-100 px-3 py-2 rounded-md text-sm font-medium text-center m-4">
    {{ isEditMode ? 'Mettre à jour' : 'Créer' }} le lot
  </button>
</form>
