<div class="mb-7">
  <div class="flex items-center justify-between">
    <h2 class="font-bold">
      Détails d'un groupe
    </h2>
    <div>
      <a routerLink="/unitgroups"
      class="text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
      >
        Retour à la liste des groups
      </a>
    </div>
  </div>
</div>
<hr class="mb-7">

<!-- Message de succès -->
<div *ngIf="updatedMessage" class="mb-4 p-3 rounded-md bg-green-100 text-green-800 shadow-sm">
  {{ updatedMessage }}
</div>

<!-- Contenu du groupe -->
<ul *ngIf="unitGroup$ | async as unitGroup; else loading">
  <li class="space-y-6 bg-white p-6 rounded-lg shadow-md border border-gray-200">
    <h3 class="text-xl font-semibold text-gray-900">{{ unitGroup.name }}</h3>
    
    <div class="text-gray-700">
      <p><span class="font-medium">Description :</span> {{ unitGroup.description }}</p>
      <p><span class="font-medium">Tantièmes spécifiques :</span> {{ unitGroup.special_shares ? 'Oui' : 'Non' }}</p>
    </div>

    <div>
      <p class="font-medium text-gray-800 mb-2">Membres :</p>
      <ul class="space-y-2 pl-4 border-l-2 border-orange-200">
        <li 
          *ngFor="let unitUnitGroup of unitUnitGroups" 
          class="text-sm text-gray-700"
        >
          • <span class="font-semibold">{{ unitUnitGroup.unit_name }}</span> — 
          <span *ngIf="unitGroup.special_shares">
            Millièmes ajustées : {{ unitUnitGroup.adjusted_shares }}
          </span>
          <span *ngIf="!unitGroup.special_shares">
            Millièmes standards : {{ unitUnitGroup.unit_shares }}
          </span>
        </li>
      </ul>
    </div>

    <div class="flex gap-4 pt-4">
      <button 
        (click)="change(unitGroup.id)" 
        class="min-w-[14rem] text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
        >
        Modifier ce groupe
      </button>

      <button 
        (click)="deletion(unitGroup.id)" 
        class="min-w-[14rem] text-gray-700 hover:text-orange-400 border border-gray-300 hover:border-orange-300 bg-white px-3 py-2 rounded text-sm"
        >
        Supprimer ce groupe
      </button>
    </div>
  </li>
</ul>

<!-- Chargement -->
<ng-template #loading>
  <div class="text-gray-500 italic">Chargement du groupe en cours...</div>
</ng-template>
